@charset "utf-8";
/* CSS Document */
.appContextMenu{
	filter: alpha(opacity=50); 
	position:absolute;
	display:none;
	cursor:default;
}

.notebookHolder{
	position:absolute;
	width: 600px;
	height: 300px;
	
	background-color: #FFFFFF;
		
	left: 300px;		
	top: 50px;
	border: 2px solid gray;
	
	padding: 30px;
	
}

.computer{

	position:absolute;
	width: 450px;
	height: 300px;
	
	
	background: url(images/computerBackground.jpg);
	background-repeat:no-repeat;
	
	left: 400px;		
	top: 50px;
	
	
	padding: 30px;



}

.computer div{

display:inline;

padding: 10px;

}

.videoPlayerHolder{
	position:absolute;
	width: 500px;
	height: 500px;
	
    
	
	
	left: 400px;		
	top: 10px;
	border: 0px solid gray;
	
}

.video{   //video镶嵌在videoPlayerHolder中
	position:absolute;
	left: 0px;		
	top: 50px;
}	



.closeHolder{
	display:none;
	float:right;
}

.saveHolder{
	display:none;
	float:left;
}

.hiddenHolder{
	display:none;
}